body{
  background-color: #1C1C1C;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

#first-container{
  background-color: #6943FF;
  width: 550px;
  height: 285px;
  color: white;
  font-family: 'inter', sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#second-container{
  background-color: #F4F4F4;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conversion-div{
  width: 500px;
  height: 108px;
  background-color: white;
}

.title  {
  color: #5A537B;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.description {
  color: #353535;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

#usd-div, #eur-div, #rub-div {
  margin-top: 29px;
}

#rub-div {
  margin-bottom: 29px;
}

#convert-btn {
  background-color: white;
  border: none;
  border-radius: 5px;
  width: 117px;
  height: 42px;
  color: #3D3D3D;
  font-family: 'inter', sans-serif;
  font-size: 16px;
  transition: 0.3s;
}

#convert-btn:hover {
  scale: 1.1;
  opacity: 0.7;
}

#convert-btn:active {
  scale: 0.8;
}

#display-div {
  font-size: 58px;
  font-weight: bolder;
  font-family: 'inter';
  padding: 5px;
  border: 2px solid #B295FF;
  border-radius: 5px;
  margin: 20px 0 20px 0;
  padding: 0 18px 0 18px;
}

#main-title {
  margin: 0px;
}